@model SportStore.Application.Products.Queries.ProductPageVM

@{
    ViewData["Title"] = "ProductList";
}
<table class="table">
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>           
        </tr>
}
    </tbody>
</table>
