@model IEnumerable<SportStore.Application.Products.Queries.CategoryDTO>
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class=" table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Id</td>
            <td>@cat.Name</td>
            <td>@cat.Description</td>
            <td><form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-CategoryId="@cat.Id">
                    Edit</a>
                <input type ="hidden" name="categoryId" value="@cat.Id" />
                <button type ="submit" class="btn btn-sm btn-danger" >Delete</button>
                </form>
            </td>
            </tr>
     }
</table>
<a class="btn btn-primary" asp-action="Add">Add new</a>


